.width-50 {
    width: 50%
}

.mx-auto-custom {
    margin-left: auto;
    margin-right: auto;
}

ol.even {
    background-color: #bf6835;
    color: #eaeaea;
}

ol {
    background-color: #368cbf;
    color: #eaeaea;
}