<div class="container d-flex justify-center">
  <div class="row d-flex justify-center">
    <div class="col-xs-12 navbar navbar-default" >
      <h3 class="text-center">Bind it!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (newNumber)="onNewNumber($event)"></app-game-control>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col align-self-center width-50 mx-auto-custom text-center">
      <ul  class="list-group">
        <ol *ngFor="let num of nums" class="list-group-item" [class.even]="(num%2===0)">
          <app-even *ngIf="num%2==0; else oddComponent" [my-number]="num"></app-even>
          <ng-template #oddComponent>
              <app-odd  [my-number]="num" ></app-odd>
          </ng-template>
        </ol>
      </ul>
    </div>
  </div>
</div>
